@font-face {
  font-family: 'rubik';
  src: url("../fonts/rubik-bold-webfont.woff2") format('woff2'), url("../fonts/rubik-bold-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'rubik';
  src: url("../fonts/rubik-medium-webfont.woff2") format('woff2'), url("../fonts/rubik-medium-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'rubik';
  src: url("../fonts/rubik-regular-webfont.woff2") format('woff2'), url("../fonts/rubik-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: 'Rubik';
  background: #f7f7f7;
}
.pull-right {
  float: right;
}
.fade {
  opacity: 0.2;
}
.pointer {
  cursor: pointer;
}
.wrapper {
  width: 100%;
  margin: 0 auto 30px auto;
  box-sizing: border-box;
  max-width: 1275px;
}
.wrapper.hero-wrapper {
  background: url("../img/hero.jpg") no-repeat;
  background-color: #92b8ad;
  background-position: center top;
}
.wrapper.footer-wrapper {
  background: url("../img/footerBg.jpg") no-repeat;
  background-color: #542d4c;
  background-position: center top;
  height: 511px;
  margin: 180px 0 0 0;
}
.wrapper.wide-wrapper {
  padding: 0;
  max-width: none;
}
.wrapper.content-wrapper {
  max-width: 1190px;
}
.logo {
  width: 60px;
}
.header {
  margin-top: 30px;
  flex: 1 100%;
  margin-bottom: 30px;
}
.footer {
  max-width: 1275px;
  margin: 90px auto 0 auto;
  overflow: hidden;
}
.decoration {
  border-bottom: 10px solid #e03a6a;
  width: 100px;
  display: block;
  margin: 0 auto;
}
.copyright-inner-wrapper {
  width: 350px;
  margin: 60px auto 40px;
}
.copyright-inner-wrapper .logo {
  vertical-align: middle;
  margin-right: 15px;
  width: 56px;
}
.copyright-inner-wrapper .main-paragraph {
  max-width: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #666;
}
.hero {
  height: 768px;
  max-width: 1275px;
  background-position: center top;
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
  font-size: 0;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.nav {
  float: right;
  font-size: 19px;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul > li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}
.nav ul > li a {
  text-decoration: none;
  color: #542d4c;
  text-transform: uppercase;
}
.nav ul > li a .icon {
  width: 35px;
}
.half {
  width: 50%;
  display: inline-block;
  font-size: 19px;
  margin-top: -190px;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-title {
  font-size: 60px;
  color: #542d4c;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.main-paragraph {
  color: #542d4c;
  margin-top: 0;
  max-width: 450px;
}
.main-paragraph.negative {
  color: #fff;
  font-size: 20px;
  text-align: center;
  max-width: 760px;
  margin: 40px auto;
  line-height: 1.2;
}
.btn {
  background: #542d4c;
  border-radius: 30px;
  padding: 14px 60px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.btn.sec {
  background-color: #5eb098;
}
.secondaryTitle {
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  text-transform: uppercase;
  margin-right: 30px;
}
.secondaryTitle:first-child {
  margin-left: 0;
}
.tertiaryTitle {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 135px;
  margin-bottom: 50px;
  color: #666;
}
.tertiaryTitle.negative {
  color: #fff;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.carousel-cell {
  background: #fff;
  width: 290px;
  height: 408px;
  margin-right: 10px;
  -webkit-transition: opacity 0.3s, box-shadow 0.7s;
  transition: opacity 0.3s, box-shadow 0.7s;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.carousel-cell:last-child {
  margin-right: 0;
}
.carousel-cell:hover {
  box-shadow: 0 15px 40px #cdcdcd;
}
.carousel-cell:hover .carousel-btn {
  opacity: 1;
}
.carousel-title {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
.carousel-description {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0 10px;
}
.carousel-price {
  color: #000;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}
.carousel-btn {
  padding: 7px 30px;
  margin-top: 16px;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}
.carousel-btn .icon {
  width: 27px;
  vertical-align: middle;
  margin-right: 15px;
}
.flickity-page-dots {
  bottom: -45px;
}
.flickity-page-dots .dot {
  width: 14px;
  height: 14px;
  border: 2px solid #f7f7f7;
  -webkit-transition: border 0.7s;
  transition: border 0.7s;
}
.flickity-page-dots .dot.is-selected {
  background: #fff;
  border-color: #cdcdcd;
}
.flickity-viewport {
  padding: 10px 0 30px;
}
.md-label {
  text-transform: uppercase;
  color: #666;
  line-height: 2;
}
md-checkbox .md-container {
  top: 46%;
}
md-checkbox .md-icon {
  border-color: #dfdfdf;
}
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-o-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
