@font-face {
  font-family: 'rubik';
  src: url("./fonts/rubik-bold-webfont.woff2") format('woff2'), url("./fonts/rubik-bold-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'rubik';
  src: url("./fonts/rubik-medium-webfont.woff2") format('woff2'), url("./fonts/rubik-medium-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'rubik';
  src: url("./fonts/rubik-regular-webfont.woff2") format('woff2'), url("./fonts/rubik-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Rubik';
  background-color: #f7f7f7;
}
.pull-right {
  float: right;
}
.fade {
  opacity: 0.3;
}
.wrapper {
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.wrapper.hero-wrapper {
  background-color: #92b8ad;
  padding: 0;
}
.wrapper.content-wrapper {
  padding: 0 130px;
}
.logo {
  width: 60px;
}
.header {
  margin-top: 30px;
  flex: 1 100%;
  margin-bottom: 30px;
}
.hero {
  background: url("./img/hero.jpg") no-repeat;
  height: 768px;
  width: 100%;
  background-position: center top;
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
  font-size: 0;
  padding: 0 40px;
  display: flex;
  flex-flow: row wrap;
}
.nav {
  float: right;
  font-size: 19px;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul > li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}
.nav ul > li a {
  text-decoration: none;
  color: #542d4c;
  text-transform: uppercase;
}
.nav ul > li a .icon {
  width: 35px;
}
.half {
  width: 50%;
  display: inline-block;
  font-size: 19px;
  margin-top: -190px;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-title {
  font-size: 60px;
  color: #542d4c;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.main-paragraph {
  color: #542d4c;
  margin-top: 0;
  max-width: 450px;
}
.btn {
  background: #542d4c;
  border-radius: 30px;
  padding: 14px 60px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.secondaryTitle {
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
}
.secondaryTitle:first-child {
  margin-left: 0;
}
.carousel-cell {
  background: #fff;
  width: 289px;
  height: 408px;
  margin-right: 10px;
}
.carousel-cell:last-child {
  margin-right: 0;
}
