<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Red Ventures Test</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="./css/normalize.css">
		<link rel="stylesheet" href="./vendor/flickity.min.css" media="screen">
		<link rel="stylesheet" href="./vendor/angular-material.min.css" media="screen">
		<link rel="stylesheet" href="./css/main.css">
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<div class="wrapper wide-wrapper hero-wrapper">
			<div class="hero">
				<header class="header">
					<img class="logo" src="./img/logo.svg" alt="O">

					<nav class="nav">
						<ul>
							<li><a class="hvr-pop" href="#">Home</a></li>
							<li><a class="hvr-pop" href="#">Products</a></li>
							<li><a class="hvr-pop" href="#">Contact</a></li>
							<li><a class="hvr-pop" href="#"><img class="icon" src="./img/cart.svg" alt="Cart"></a></li>
						</ul>
					</nav>
				</header>

				<div class="half"></div>
				<div class="half">
					<h1 class="main-title">Collection 2016</h1>
					<p class="main-paragraph">Some cool text here about the new collection of design furniture 2016</p>
					<a href="#" class="btn hvr-pop">Buy now</a>
				</div>
			</div>
		</div>

		<div class="wrapper content-wrapper" ng-app="myApp">
			<div class="controls-wrapper"> <!-- ng-controller="FilterController" -->
				<h2 class="secondaryTitle">Type:</h2>

				<!-- <input type="checkbox" name="armchairs" ng-model="armchairs"> -->
				<md-checkbox ng-init="armchairs = true" ng-model="armchairs">
					armchairs
				</md-checkbox>
				
				<!-- <label for="armchairs">armchairs</label> -->

				<md-checkbox ng-init="chairs = true" ng-model="chairs">
					chairs
				</md-checkbox>

				<h2 class="secondaryTitle">Material:</h2>

				<md-checkbox ng-init="wood = true" ng-model="wood">
					wood
				</md-checkbox>

				<md-checkbox ng-init="foam = true" ng-model="foam">
					foam
				</md-checkbox>

				<a class="btn sec pointer pull-right hvr-pop" ng-click="wood = true; foam = true; chairs = true; armchairs = true;">See all products</a>

				<hr />

				<h3 class="tertiaryTitle first">New armchairs</h3>

				<div class="main-carousel carousel" data-flickity='
					{ 	
						"cellAlign": "left",
						"groupCells": 4, 
						"prevNextButtons": false
					}
					'>
					<div class="carousel-cell" ng-class="{fade: !wood && !armchairs}">
						<h3 class="carousel-title">Armchair / wood</h3>
						<img src="./img/chair1.jpg">
						<h4 class="carousel-description">Modern Black Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !foam && !armchairs}">
						<h3 class="carousel-title">Armchair / foam</h3>
						<img src="./img/chair2.jpg">
						<h4 class="carousel-description">Modern Gray Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !foam && !armchairs}">
						<h3 class="carousel-title">Armchair / foam</h3>
						<img src="./img/chair3.jpg">
						<h4 class="carousel-description">Light Blue Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !armchairs}">
						<h3 class="carousel-title">Armchair / wood</h3>
						<img src="./img/chair4.jpg">
						<h4 class="carousel-description">Black and Wood Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !chairs}">
						<h3 class="carousel-title">Chair / wood</h3>
						<img src="./img/chair5.jpg">
						<h4 class="carousel-description">Wood Design Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !foam && !chairs}">
						<h3 class="carousel-title">Chair / foam</h3>
						<img src="./img/chair6.jpg">
						<h4 class="carousel-description">Wood Premium Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !chairs}">
						<h3 class="carousel-title">Chair / wood</h3>
						<img src="./img/chair7.jpg">
						<h4 class="carousel-description">White and Wood Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !chairs}">
						<h3 class="carousel-title">Chair / wood</h3>
						<img src="./img/chair8.jpg">
						<h4 class="carousel-description">Black and Wood Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
				</div>

				<h3 class="tertiaryTitle">Best of 2016</h3>

				<div class="main-carousel" data-flickity='{
						"cellAlign": "left",
						"groupCells": 4,
						"prevNextButtons": false
					}'>
					<div class="carousel-cell">
						<h3 class="carousel-title">Chair / wood</h3>
						<img src="./img/chair5.jpg">
						<h4 class="carousel-description">Wood Design Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell">
						<h3 class="carousel-title">Chair / foam</h3>
						<img src="./img/chair6.jpg">
						<h4 class="carousel-description">Wood Premium Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell">
						<h3 class="carousel-title">Chair / wood</h3>
						<img src="./img/chair7.jpg">
						<h4 class="carousel-description">White and Wood Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell">
						<h3 class="carousel-title">Chair / wood</h3>
						<img src="./img/chair8.jpg">
						<h4 class="carousel-description">Black and Wood Chair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>

					<div class="carousel-cell">
						<h3 class="carousel-title">Armchair / wood</h3>
						<img src="./img/chair1.jpg">
						<h4 class="carousel-description">Modern Black Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell">
						<h3 class="carousel-title">Armchair / foam</h3>
						<img src="./img/chair2.jpg">
						<h4 class="carousel-description">Modern Gray Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell">
						<h3 class="carousel-title">Armchair / foam</h3>
						<img src="./img/chair3.jpg">
						<h4 class="carousel-description">Light Blue Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
					<div class="carousel-cell">
						<h3 class="carousel-title">Armchair / wood</h3>
						<img src="./img/chair4.jpg">
						<h4 class="carousel-description">Black and Wood Armchair</h4>
						<h5 class="carousel-price">$ 350.00</h5>
						<a href="#" class="btn sec carousel-btn hvr-pop">
							<img alt="" src="./img/cart-white.svg" class="icon">
							Buy Now
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="wrapper wide-wrapper footer-wrapper">

			<footer class="footer">
				<h3 class="tertiaryTitle negative">About us</h3>
				<span class="decoration"></span>

				<p class="main-paragraph negative">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>

				

			</footer>
		</div>

		<div class="wrapper wide-wrapper copyright-wrapper">
			<div class="copyright-inner-wrapper">
				<img class="logo" src="./img/logo-dark.svg" alt="O">
				<p class="main-paragraph">Copyright 2016 - all rights reserved</p>
			</div>
		</div>

		<script src="./vendor/flickity.pkgd.min.js"></script>
		
		<script src="./vendor/angular.min.js"></script>
		<script src="./vendor/angular-animate.min.js"></script>
		<script src="./vendor/angular-aria.min.js"></script>
		<script src="./vendor/angular-material.min.js"></script>

		<script>
			var myApp = angular.module(
					'myApp', 
					['ngAnimate', 'ngAria', 'ngMaterial']
				)
				.config(function($mdThemingProvider) {
					$mdThemingProvider.definePalette('amazingPaletteName', {
						'50': '5eb098',
						'100': '5eb098',
						'200': '5eb098',
						'300': '5eb098',
						'400': '5eb098',
						'500': '5eb098',
						'600': '5eb098',
						'700': '5eb098',
						'800': '5eb098',
						'900': '5eb098',
						'A100': '5eb098',
						'A200': '5eb098',
						'A400': '5eb098',
						'A700': '5eb098',
						'contrastDefaultColor': 'light',    
						'contrastDarkColors': ['50', '100', '200', '300', '400', 'A100'],
						'contrastLightColors': undefined
					});

					$mdThemingProvider.theme('default')
						.accentPalette('amazingPaletteName');
				});
		</script>

		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
		<script>
			window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
			ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	</body>
</html>