<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Red Ventures Test</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/node_modules/flickity/dist/flickity.css" media="screen">
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<div class="wrapper hero-wrapper">
			<div class="hero">
				<header class="header">
					<img class="logo" src="/img/logo.svg" alt="O">

					<nav class="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Products</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#"><img class="icon" src="/img/cart.svg" alt="Cart"></a></li>
						</ul>
					</nav>
				</header>

				<div class="half"></div>
				<div class="half">
					<h1 class="main-title">Collection 2016</h1>
					<p class="main-paragraph">Some cool text here about the new collection of design furniture 2016</p>
					<a href="#" class="btn">Buy now</a>
				</div>
			</div>
		</div>

		<div class="wrapper content-wrapper" ng-app>
			<div class="controls-wrapper">
				<h2 class="secondaryTitle">Type:</h2>

				<input type="checkbox" name="armchairs" ng-model="armchairs">
				<label for="armchairs">armchairs</label>

				<input type="checkbox" name="chairs" ng-model="chairs">
				<label for="chairs">chairs</label>

				<h2 class="secondaryTitle">Material:</h2>

				<input type="checkbox" name="wood" ng-model="wood">
				<label for="wood">wood</label>

				<input type="checkbox" name="foam" ng-model="foam">
				<label for="foam">foam</label>

				<a class="btn pull-right">See all products</a>

				<hr />

				<h2>New armchairs</h2>
				<!--  -->
				<a class="button--show">show</a>

				<div class="main-carousel carousel" data-flickity='{ "cellAlign": "left", "groupCells": 4, "prevNextButtons": false}'>
					<div class="carousel-cell" ng-class="{fade: !wood && !armchairs}">
						<h3>Armchair / wood</h3>
						<img src="/img/chair1.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !foam && !armchairs}">
						<h3>Armchair / foam</h3>
						<img src="/img/chair2.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !foam && !armchairs}">
						<h3>Armchair / foam</h3>
						<img src="/img/chair3.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !armchairs}">
						<h3>Armchair / wood</h3>
						<img src="/img/chair4.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !chairs}">
						<h3>Chair / wood</h3>
						<img src="/img/chair5.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !foam && !chairs}">
						<h3>Chair / foam</h3>
						<img src="/img/chair6.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !chairs}">
						<h3>Chair / wood</h3>
						<img src="/img/chair7.jpg">
					</div>
					<div class="carousel-cell" ng-class="{fade: !wood && !chairs}">
						<h3>Chair / wood</h3>
						<img src="/img/chair8.jpg">
					</div>
				</div>

				<h2>Best of 2016</h2>

				<div class="main-carousel" data-flickity='{ "cellAlign": "left", "groupCells": 4, "prevNextButtons": false}'>
					<div class="carousel-cell"><img src="/img/chair5.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair6.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair7.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair8.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair1.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair2.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair3.jpg"></div>
					<div class="carousel-cell"><img src="/img/chair4.jpg"></div>
				</div>
			</div>
		</div>

		<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.1.1.min.js"><\/script>')</script> -->
		<script src="/node_modules/flickity/dist/flickity.pkgd.min.js"></script>
		<script src="/node_modules/angular/angular.min.js"></script>
		<script src="js/main.js"></script>

		<!-- <script>
			var carousel = document.querySelector('.carousel');
			var flkty = new Flickity( carousel );

			var showButton = document.querySelector('.button--show');
			showButton.addEventListener( 'click', function() {
				// un-hide carousel
				// carousel.style.display = 'block';
				// Flickity resize
				flkty.resize();
			});
		</script> -->

		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
		<script>
			window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
			ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	</body>
</html>